html {
    box-sizing: border-box;
  }

body{  
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
  }

.menu{
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.logo-style{
    margin-left: 10px;
    height: 50px;
}

.menu li{
        display: inline-block;    
}

.menu a{
    color: seashell;
    text-decoration: underline;
}

.top-banner{
    margin: auto;
    height: 700px;
    width: 1200px;
    background-image: url('./img/img-mission-background.jpg');
    display: flex;
    align-items: center;
 
}

.mission{
    width: 1200px;
    background-color: black;
    text-align: center;
}
.featured-tea{
    margin: auto;
    width: 1000px;
    text-align: center;
}

.tea-of-month{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-of-month img{
    width: 300px;
    height: 200px;

}

.img-position{
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
}

.img-position h4{
 margin-top:10px;
}

.location-banner{
    margin: auto;
    height: 500px;
    width: 1200px;
    background-image: url('./img/img-locations-background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.location-position{
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.location-details{
    background-color: black;
    opacity: 1;
    width: 300px;
    margin: 0 20px 0 20px;
}

.location-details p{
    line-height: 1.5;
}
