html {
    box-sizing: border-box;
  }

body{  
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
  }

.menu{
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.logo-style{
    margin-left: 10px;
    height: 50px;
}

.menu li{
        display: inline-block;    
}

.menu a{
    color: seashell;
    text-decoration: underline;
}

.top-banner, .featured-tea, .location-banner{
    margin: 0 auto;
}

.top-banner{
    height: 700px;
    width: 1200px;
    background-image: url('./img/img-mission-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
 
}

.mission{
    width: 1200px;
    background-color: black;
}
.featured-tea{
    width: 1000px;
}

.tea-of-month{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-of-month img{
    width: 300px;
    height: 200px;

}

.img-position{
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;

}

.img-position h4{
 margin-top:10px;
}

.location-banner{
    height: 500px;
    width: 1200px;
    background-image: url('./img/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.location-position{
    margin-top: 15px;
    display: flex;
}

.location-details{
    background-color: black;
    opacity: 1;
    width: 300px;
    margin: 0 20px 0 20px;
}

.location-details p{
    line-height: 1.5;
}

.contact-info{
    height: 200px;
}

footer{
    margin-left: 20px;
    text-align: left;
}

/*Make site responsive*/

@media only screen and (max-width: 1106px){

    .mission-responsive{
        display: block;
    }

    .top-banner{
        width: 1106px;
    }

    .location-banner{
        height: 1000px;
        width: 100%;
     
    }

    .location-position{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .location-details{
        margin: 20px 0  20px 0;
    }

    .top-banner{
        width: 100%;
    }
    
}

@media only screen and (max-width: 990px){
    .tea-of-month{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featured-tea{
        width: 100%;
    }

    .tea-of-month img{
        width: 100%;
       height: 350px;
    }

}


@media only screen and (max-width: 895px){
    .location-banner h2{
        color: black;
        opacity: 0.5;
     
    }

}

@media only screen and (max-width: 565px){

    .tea-of-month img{
       width: 400px;
       height: auto;
    }

}

@media only screen and (max-width: 525px){
    .menu{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li{
        display: block;  
    }

    .word-responsive{
        display: block;
    }

}