html {
    box-sizing: border-box;
  }

body{  
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
  }

.menu{
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.logo-style{
    margin-left: 10px;
    height: 50px;
}

.menu li{
        display: inline-block;    
}

.menu a{
    color: seashell;
    text-decoration: underline;
}

.top-banner{
    margin: auto;
    height: 700px;
    width: 1200px;
    background-image: url('./img/img-mission-background.jpg');
    display: flex;
    align-items: center;
 
}

.mission{
    width: 1200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}